.angled-gradient {
  background: linear-gradient(160deg, #232f47, #6d4158, #bd7a6a);
}

.swap-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  
}